<div class="cart mt-2 mb-2">
    <div class="infos">
        <div class="image">
            <img class="imgUser"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWJ5kphzVMREHoyVf9x7XXF2TNC1P8NU5Z0A&s"
                alt="">
        </div>
        <div class="info">
            <div>
                <p class="name">
                    John Doe
                </p>
            </div>
            <div class="stats">
                <p class="flex flex-col">
                    Publications
                    <span class="state-value">
                        34
                    </span>
                </p>
                <p class="flex">
                    Friends
                    <span class="state-value">
                        455
                    </span>
                </p>

            </div>
        </div>
    </div>
    <button class="request" type="button">
        Add friend
    </button>
</div>
