<main class="register mb-3"  >
    <div class="container ">
        <div  class="d-flex justify-content-between">
            <div class="d-flex mt-3 ">
                <div class="me-5 d-grid align-items-center"><i class="fa-regular fa-comments fa-3x"></i></div>
                <h1 class="nombre LogoShareHubFont">ShareHub</h1>
            </div>
            <div class="d-grid align-items-end mt-4 d-none d-lg-block">
                <!-- <h3 class="TextoShareHubFont fw-bold">El poder de la conexion</h3> -->
            </div>
        </div>
    </div>
<!-- -----------------------------------parte superior, logo, nombre y eslogan-------------- -->
    <div class="container mt-4 d-flex justify-content-between  ">
        <div class="container linea d-none d-lg-block">
            <h1 class="nombre TextoShareHubFont fw-bold mb-5">Register</h1>
            <h3 class="TextoShareHubFont ">Registrate y haz nuevos amigos!</h3>
        </div>

        <div class="container">
            <div class="m-xxl-5">
                <div class="cuadro rounded-5 p-3 d-flex flex-column justify-content-center">
                    <form [formGroup]="registerForm" class=""  >
                        <div class="pt-3 px-3">
                            <label for="inputPassword2" class="TextoShareHubFont fw-bold visually">Correo electronico</label>
                            <input formControlName="email" type="email" class="form-control rounded-5 mt-3"  />

                        </div>

                        <div class="text-danger px-3 ">
                            <p class="fw-bold m-0 ">¡El campo esta vacio!</p>
                        </div>

                        <div class="px-3">
                            <label for="inputNombre" class="TextoShareHubFont visually fw-bold rounded-5">Nombre</label>
                            <input formControlName="userName" type="text" class="form-control rounded-5 mt-3"/>
                        </div>
                        <div class="text-danger px-3">
                            <p class="fw-bold m-0">¡El campo esta vacio!</p>
                        </div>


                        <div class="px-3">
                            <label for="inputPassword2" class="TextoShareHubFont visually fw-bold rounded-5">Contraseña</label>
                            <input formControlName="password" type="password" class="form-control rounded-5 mt-3"/>

                        </div>

                        <div class="text-danger px-3">
                            <p class="fw-bold m-0">¡El campo esta vacio!</p>
                        </div>

                        <div class="p-3 d-flex flex-column justify-content-center">
                            <label for="inputPassword2" class="TextoShareHubFont visually-hidden "></label>
                            <button type="button" (click)="register()"  class="btn btn-warning text-black my-3 fw-bold TextoShareHubFont boton rounded-5">Register</button>
                        </div>
                    </form>

                    <div class="d-flex justify-content-center p-3 linea2">
                        <span>¿Ya tienes una cuenta? </span><a class="ms-1 text-decoration-none fw-bold text-white" routerLink="/registro"> Ingresar aqui</a>
                    </div>
                    <h6 class="d-flex justify-content-center mt-3 ingresa">O register con</h6>

                    <div class="d-flex justify-content-center">
                        <div><i class="fa-brands fa-google m-3 fa-2x"></i></div>
                        <div><i class="fa-brands fa-facebook m-3 fa-2x"></i></div>
                        <div><i class="fa-brands fa-apple m-3 fa-2x"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
