<div class="main-box mt-1 mb-3">
    <!----------------------- Cuerpo de usuario -------------------->
    <div class="d-flex justify-content-between">
        <div type="button" class="mb-2 d-flex gap-3">
            <div class="">
                <img class="imgUser"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAhEOYTOMNLDkzULpt0bj-RdWGvRsfw5S-aQ&s"
                    alt="">
            </div>
            <div class="d-flex justify-content-between">
                <div class="">
                    <p class="text-light fw-bold fs-4 TextoShareHubFont">Carlos Martinez</p>
                </div>
            </div>
        </div>

        <div type="button" class="">
            <p class="text-light fw-bold me-2">. . .</p>
        </div>
    </div>

    <!----------------------- Cuerpo de publicacions -------------------->
    <div class="">
        <div class="">
            <p class="text-light TextoShareHubFont">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, dignissimos sed perspiciatis
                repudiandae quos, perferendis error hic consequatur aliquam architecto exercitationem minima nemo
                mollitia quaerat ab at impedit quia. Nulla.
            </p>
        </div>
        <div class="">
            <img class="imgPublic" src="fondo.jpg" alt="">
        </div>
    </div>

    <!----------------------- Acciones megusta, comentar -------------------->

    <div class="acciones d-flex mt-2 py-3">

    </div>
</div>
<div class="main-box mt-1">
    <!----------------------- Cuerpo de usuario -------------------->
    <div class="d-flex justify-content-between">
        <div type="button" class="mb-2 d-flex gap-3">
            <div class="">
                <img class="imgUser"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAhEOYTOMNLDkzULpt0bj-RdWGvRsfw5S-aQ&s"
                    alt="">
            </div>
            <div class="d-flex justify-content-between">
                <div class="">
                    <p class="text-light fw-bold fs-4 TextoShareHubFont">Carlos Martinez</p>
                </div>
            </div>
        </div>

        <div type="button" class="">
            <p class="text-light fw-bold me-2">. . .</p>
        </div>
    </div>

    <!----------------------- Cuerpo de publicacions -------------------->
    <div class="">
        <div class="">
            <p class="text-light TextoShareHubFont">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, dignissimos sed perspiciatis
                repudiandae quos, perferendis error hic consequatur aliquam architecto exercitationem minima nemo
                mollitia quaerat ab at impedit quia. Nulla.
            </p>
        </div>
        <div class="">
            <img class="imgPublic" src="fondo.jpg" alt="">
        </div>
    </div>

    <!----------------------- Acciones megusta, comentar -------------------->

    <div class="acciones d-flex mt-2 py-3">

    </div>
</div>
